



/* === QPushButton === */
QPushButton {
    border: 3px solid #333333;
    padding: 20px;
    min-width: 65px;
    min-height: 12px;
    border-radius: 150px;
    font-family: "Chiller";
    font-size:60px;
}

QPushButton:hover {
    background-color: #333333;
    border-color: #444444;
}

QPushButton:pressed {
    background-color: #111111;
    border-color: #333333;
    color: white;


}

